# Capstone 1 Step 2 Data Wrangling

<font color = 'teal'>Data wrangling is the second step in Data Science methods. Data Wrangling includes Data Collection, Data Organisation, Data Definition and Data Cleaning.</font>

# Data Collection

<font color='teal'>Data Collection includes importing the packages and modules in python. And it includes loading the data in pandas dataframe.</font>

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns 
import os
%matplotlib inline

In [2]:
#Printing the current working directory
os.getcwd()

'C:\\Users\\user\\Springboard\\Course\\CapStone - 1'

In [3]:
#printing the files in the current working directory
os.listdir()

['.ipynb_checkpoints',
 'Capstone Project - Data Wrangling .ipynb',
 'Capstone Project - Exploratory Data Analysis.ipynb',
 'covid_data.csv',
 'owid-covid-data-codebook.md.txt']

<font color='teal'>Loading the data from csv file into a pandas dataframe df.</font>

In [4]:
df = pd.read_csv('covid_data.csv')
#print the first five rows of the dataframe
df.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83

# Data Organisation

<font color = 'teal'> Data Organisation : This step of Data Science invloves creating sub folders to ensure the project is in well organised manner.</font>

In [5]:
#printing the currect working folder
print(os.getcwd())

C:\Users\user\Springboard\Course\CapStone - 1

<font color = 'teal'>Creating sub-folders</font>

In [6]:
#create sub-folders  named data
os.mkdir('data')

In [7]:
#create sub-folders  named data
os.mkdir('models')

In [8]:
#Create sub-folder named figures for saving the visualisation in the future steps
os.mkdir('figures')

In [9]:
#Making sure the sub-folders are created
os.listdir()

['.ipynb_checkpoints',
 'Capstone Project - Data Wrangling .ipynb',
 'Capstone Project - Exploratory Data Analysis.ipynb',
 'covid_data.csv',
 'data',
 'figures',
 'models',
 'owid-covid-data-codebook.md.txt']

# Data Definition

<font color = 'teal'>Data Definition includes defining the data such as coloumn names, dtypes of the coloumn, description of the coloumn, count of unique values or codes and range of unique values or codes including NAN values</font>

In [10]:
#priting the coloumns of the dataframe df
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'total_cases_per_million',
       'new_cases_per_million', 'total_deaths_per_million',
       'new_deaths_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'tests_units',
       'stringency_index', 'population', 'population_density', 'median_age',
       'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cvd_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy'],
      dtype='object')

<font color = 'teal'>Describing each column of the dataframe df</font>

<font color = 'teal'>Codebook for the complete Our World in Data COVID-19 dataset</font>

Column|Description|Source
------|-----------|------
`iso_code`|ISO 3166-1 alpha-3 – three-letter country codes|International Organization for Standardization
`continent`|Continent of the geographical location|Our World in Data
`location`|Geographical location|Our World in Data
`date`|Date of observation|Our World in Data
`total_cases`|Total confirmed cases of COVID-19|European Centre for Disease Prevention and Control
`new_cases`|New confirmed cases of COVID-19|European Centre for Disease Prevention and Control
`total_deaths`|Total deaths attributed to COVID-19|European Centre for Disease Prevention and Control
`new_deaths`|New deaths attributed to COVID-19|European Centre for Disease Prevention and Control
`total_cases_per_million`|Total confirmed cases of COVID-19 per 1,000,000 people|European Centre for Disease Prevention and Control
`new_cases_per_million`|New confirmed cases of COVID-19 per 1,000,000 people|European Centre for Disease Prevention and Control
`total_deaths_per_million`|Total deaths attributed to COVID-19 per 1,000,000 people|European Centre for Disease Prevention and Control
`new_deaths_per_million`|New deaths attributed to COVID-19 per 1,000,000 people|European Centre for Disease Prevention and Control
`total_tests`|Total tests for COVID-19|National government reports
`new_tests`|New tests for COVID-19|National government reports
`new_tests_smoothed`|New tests for COVID-19 (7-day smoothed). For countries that don't report testing data on a daily basis, we assume that testing changed equally on a daily basis over any periods in which no data was reported. This produces a complete series of daily figures, which is then averaged over a rolling 7-day window|National government reports
`total_tests_per_thousand`|Total tests for COVID-19 per 1,000 people|National government reports
`new_tests_per_thousand`|New tests for COVID-19 per 1,000 people|National government reports
`new_tests_smoothed_per_thousand`|New tests for COVID-19 (7-day smoothed) per 1,000 people|National government reports
`tests_units`|Units used by the location to report its testing data|National government reports
`stringency_index`|Government Response Stringency Index: composite measure based on 9 response indicators including school closures, workplace closures, and travel bans, rescaled to a value from 0 to 100 (100 = strictest response)|Oxford COVID-19 Government Response Tracker, Blavatnik School of Government
`population`|Population in 2020|United Nations, Department of Economic and Social Affairs, Population Division, World Population Prospects: The 2019 Revision
`population_density`|Number of people divided by land area, measured in square kilometers, most recent year available|World Bank – World Development Indicators, sourced from Food and Agriculture Organization and World Bank estimates
`median_age`|Median age of the population, UN projection for 2020|UN Population Division, World Population Prospects, 2017 Revision
`aged_65_older`|Share of the population that is 65 years and older, most recent year available|World Bank – World Development Indicators, based on age/sex distributions of United Nations Population Division's World Population Prospects: 2017 Revision
`aged_70_older`|Share of the population that is 70 years and older in 2015|United Nations, Department of Economic and Social Affairs, Population Division (2017), World Population Prospects: The 2017 Revision
`gdp_per_capita`|Gross domestic product at purchasing power parity (constant 2011 international dollars), most recent year available|World Bank – World Development Indicators, source from World Bank, International Comparison Program database
`extreme_poverty`|Share of the population living in extreme poverty, most recent year available since 2010|World Bank – World Development Indicators, sourced from World Bank Development Research Group
`cvd_death_rate`|Death rate from cardiovascular disease in 2017|Global Burden of Disease Collaborative Network, Global Burden of Disease Study 2017 Results
`diabetes_prevalence`|Diabetes prevalence (% of population aged 20 to 79) in 2017|World Bank – World Development Indicators, sourced from International Diabetes Federation, Diabetes Atlas
`female_smokers`|Share of women who smoke, most recent year available|World Bank – World Development Indicators, sourced from World Health Organization, Global Health Observatory Data Repository
`male_smokers`|Share of men who smoke, most recent year available|World Bank – World Development Indicators, sourced from World Health Organization, Global Health Observatory Data Repository
`handwashing_facilities`|Share of the population with basic handwashing facilities on premises, most recent year available|United Nations Statistics Division
`hospital_beds_per_thousand`|Hospital beds per 1,000 people, most recent year available since 2010|OECD, Eurostat, World Bank, national government records and other sources
`life_expectancy`|Life expectancy at birth in 2019|James C. Riley, Clio Infra, United Nations Population Division

In [11]:
#printing the dimensions of the dataframe df
df.shape

(28453, 34)

In [12]:
#printing the dtypes of the dataframe df
df.dtypes

iso_code                            object
continent                           object
location                            object
date                                object
total_cases                        float64
new_cases                          float64
total_deaths                       float64
new_deaths                         float64
total_cases_per_million            float64
new_cases_per_million              float64
total_deaths_per_million           float64
new_deaths_per_million             float64
total_tests                        float64
new_tests                          float64
total_tests_per_thousand           float64
new_tests_per_thousand             float64
new_tests_smoothed                 float64
new_tests_smoothed_per_thousand    float64
tests_units                         object
stringency_index                   float64
population                         float64
population_density                 float64
median_age                         float64
aged_65_older                      float64
aged_70_older                      float64
gdp_per_capita                     float64
extreme_poverty                    float64
cvd_death_rate                     float64
diabetes_prevalence                float64
female_smokers                     float64
male_smokers                       float64
handwashing_facilities             float64
hospital_beds_per_thousand         float64
life_expectancy                    float64
dtype: object

In [13]:
#using info() to review the coloumn names, no of null values in all the columns and their dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28453 entries, 0 to 28452
Data columns (total 34 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   iso_code                         28389 non-null  object
 1   continent                        28200 non-null  object
 2   location                         28453 non-null  object
 3   date                             28453 non-null  object
 4   total_cases                      28229 non-null  float64
 5   new_cases                        28229 non-null  float64
 6   total_deaths                     28229 non-null  float64
 7   new_deaths                       28229 non-null  float64
 8   total_cases_per_million          28165 non-null  float64
 9   new_cases_per_million            28165 non-null  float64
 10  total_deaths_per_million         28165 non-null  float64
 11  new_deaths_per_million           28165 non-null  float64
 12  total_tests                      8364 non-null   float64
 13  new_tests                        7913 non-null   float64
 14  total_tests_per_thousand         8364 non-null   float64
 15  new_tests_per_thousand           7913 non-null   float64
 16  new_tests_smoothed               8969 non-null   float64
 17  new_tests_smoothed_per_thousand  8969 non-null   float64
 18  tests_units                      9603 non-null   object
 19  stringency_index                 22709 non-null  float64
 20  population                       28389 non-null  float64
 21  population_density               27200 non-null  float64
 22  median_age                       25663 non-null  float64
 23  aged_65_older                    25297 non-null  float64
 24  aged_70_older                    25531 non-null  float64
 25  gdp_per_capita                   25367 non-null  float64
 26  extreme_poverty                  16954 non-null  float64
 27  cvd_death_rate                   25693 non-null  float64
 28  diabetes_prevalence              26533 non-null  float64
 29  female_smokers                   20523 non-null  float64
 30  male_smokers                     20283 non-null  float64
 31  handwashing_facilities           11648 non-null  float64
 32  hospital_beds_per_thousand       23447 non-null  float64
 33  life_expectancy                  28056 non-null  float64
dtypes: float64(29), object(5)
memory usage: 7.4+ MB

<font color = 'teal'>Print the count of unique values in each column</font>

In [14]:
df.nunique()

iso_code                             211
continent                              6
location                             212
date                                 189
total_cases                         8853
new_cases                           2562
total_deaths                        3055
new_deaths                           729
total_cases_per_million            16682
new_cases_per_million               9289
total_deaths_per_million            7922
new_deaths_per_million              2190
total_tests                         8059
new_tests                           5415
total_tests_per_thousand            6523
new_tests_per_thousand              1775
new_tests_smoothed                  6037
new_tests_smoothed_per_thousand     1786
tests_units                            5
stringency_index                     157
population                           211
population_density                   200
median_age                           133
aged_65_older                        183
aged_70_older                        182
gdp_per_capita                       184
extreme_poverty                       73
cvd_death_rate                       186
diabetes_prevalence                  141
female_smokers                       107
male_smokers                         122
handwashing_facilities                92
hospital_beds_per_thousand           100
life_expectancy                      197
dtype: int64

<font color = 'teal'>Printing the range of values in each column</font>

In [15]:
#iterate over the columns of the dataframe by dropping the columns whose dtypes are object
#print the range for all the columns
for col in df.drop(columns=['iso_code','continent','location','tests_units']).columns:
    print('column_name: ',col,'min: ',min(df[col]),'max: ',max(df[col]))

column_name:  date min:  2019-12-31 max:  2020-07-06
column_name:  total_cases min:  0.0 max:  11418475.0
column_name:  new_cases min:  -29726.0 max:  206544.0
column_name:  total_deaths min:  0.0 max:  533958.0
column_name:  new_deaths min:  -1918.0 max:  10489.0
column_name:  total_cases_per_million min:  0.0 max:  34639.681000000004
column_name:  new_cases_per_million min:  -437.881 max:  4944.376
column_name:  total_deaths_per_million min:  0.0 max:  1237.5510000000002
column_name:  new_deaths_per_million min:  -41.023 max:  200.04
column_name:  total_tests min:  nan max:  nan
column_name:  new_tests min:  nan max:  nan
column_name:  total_tests_per_thousand min:  nan max:  nan
column_name:  new_tests_per_thousand min:  nan max:  nan
column_name:  new_tests_smoothed min:  nan max:  nan
column_name:  new_tests_smoothed_per_thousand min:  nan max:  nan
column_name:  stringency_index min:  nan max:  nan
column_name:  population min:  809.0 max:  7794798729.0
column_name:  population_density min:  0.13699999999999998 max:  19347.5
column_name:  median_age min:  15.1 max:  48.2
column_name:  aged_65_older min:  1.1440000000000001 max:  27.049
column_name:  aged_70_older min:  0.526 max:  18.493
column_name:  gdp_per_capita min:  661.24 max:  116935.6
column_name:  extreme_poverty min:  nan max:  nan
column_name:  cvd_death_rate min:  79.37 max:  724.4169999999999
column_name:  diabetes_prevalence min:  0.99 max:  23.36
column_name:  female_smokers min:  nan max:  nan
column_name:  male_smokers min:  nan max:  nan
column_name:  handwashing_facilities min:  1.188 max:  98.999
column_name:  hospital_beds_per_thousand min:  0.1 max:  13.8
column_name:  life_expectancy min:  53.28 max:  86.75

In [16]:
#to know how many countries are there in the dataframe df
df['location'].value_counts()

Estonia           189
Germany           189
Croatia           189
United States     189
Czech Republic    189
                 ...
Tajikistan         67
Comoros            66
International      64
Lesotho            53
Hong Kong           6
Name: location, Length: 212, dtype: int64

In [17]:
#use describe() to get the summary statistics
df.describe()

,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,...,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
count,2.822900e+04,28229.000000,28229.000000,28229.000000,28165.000000,28165.000000,28165.000000,28165.000000,8.364000e+03,7913.000000,...,25531.000000,25367.000000,16954.000000,25693.000000,26533.000000,20523.000000,20283.000000,11648.000000,23447.000000,28056.000000
mean,3.670309e+04,808.988983,2137.064862,37.830458,869.470582,15.869190,34.725793,0.526872,5.726651e+05,14633.983192,...,6.060347,21893.995983,11.168078,248.310427,8.022825,11.065562,32.640675,53.765046,3.167697,74.367508
std,3.684081e+05,7222.766307,20736.226298,335.993586,2225.488824,62.725027,115.156579,3.048522,2.210630e+06,51099.470008,...,4.388630,20857.361669,18.464883,118.227077,4.094329,10.535419,13.331712,31.336222,2.568689,7.276985
min,0.000000e+00,-29726.000000,0.000000,-1918.000000,0.000000,-437.881000,0.000000,-41.023000,1.000000e+00,-3743.000000,...,0.526000,661.240000,0.100000,79.370000,0.990000,0.100000,7.700000,1.188000,0.100000,53.280000
25%,1.600000e+01,0.000000,0.000000,0.000000,4.257000,0.000000,0.000000,0.000000,2.137025e+04,823.000000,...,2.171000,6171.884000,0.500000,152.783000,5.310000,1.900000,21.400000,23.437000,1.380000,70.600000
50%,2.920000e+02,4.000000,6.000000,0.000000,98.602000,0.553000,1.087000,0.000000,9.031800e+04,2680.000000,...,4.593000,15308.712000,1.700000,235.848000,7.110000,6.900000,31.400000,59.550000,2.540000,75.880000
75%,3.190000e+03,76.000000,73.000000,2.000000,632.045000,8.774000,14.725000,0.109000,3.432792e+05,8435.000000,...,9.732000,34272.360000,14.800000,317.840000,10.080000,19.800000,40.900000,83.841000,4.210000,80.180000
max,1.141848e+07,206544.000000,533958.000000,10489.000000,34639.681000,4944.376000,1237.551000,200.040000,3.485843e+07,721054.000000,...,18.493000,116935.600000,77.600000,724.417000,23.360000,44.000000,78.100000,98.999000,13.800000,86.750000

# Data Cleaning

<font color = 'teal'>Data cleaning is the process of handling misseing values(NAN) and look into duplicate rows</font>

<font color = 'teal'>Handling missing values</font>

In [18]:
nan = pd.DataFrame(df.isnull().sum().sort_values(ascending=False)/len(df),columns = ['Percent'])
nan_greaterthan_0 = nan['Percent'] > 0 
nan[nan_greaterthan_0]

                                  Percent
new_tests                        0.721892
new_tests_per_thousand           0.721892
total_tests_per_thousand         0.706042
total_tests                      0.706042
new_tests_smoothed_per_thousand  0.684778
new_tests_smoothed               0.684778
tests_units                      0.662496
handwashing_facilities           0.590623
extreme_poverty                  0.404140
male_smokers                     0.287140
female_smokers                   0.278705
stringency_index                 0.201877
hospital_beds_per_thousand       0.175939
aged_65_older                    0.110920
gdp_per_capita                   0.108460
aged_70_older                    0.102696
median_age                       0.098056
cvd_death_rate                   0.097002
diabetes_prevalence              0.067480
population_density               0.044038
life_expectancy                  0.013953
new_deaths_per_million           0.010122
total_deaths_per_million         0.010122
new_cases_per_million            0.010122
total_cases_per_million          0.010122
continent                        0.008892
new_deaths                       0.007873
total_deaths                     0.007873
new_cases                        0.007873
total_cases                      0.007873
population                       0.002249
iso_code                         0.002249

In [19]:
df.drop(df[(df['location']=='International') | (df['location']=='World')].index,inplace = True)

In [20]:
# using fillna() forward fill method replacing the nan values in the column stringency_index
df["stringency_index"].fillna( method ='ffill', inplace = True) 
df[:1].fillna(0, inplace=True)

C:\Users\user\anaconda3\lib\site-packages\pandas\core\frame.py:4153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [21]:
#using fillna(), filling the nan values of 'extreme_poverty' by the  column mean and using groupby location
df['extreme_poverty'] = df.groupby(['location'])['extreme_poverty'].fillna(df.extreme_poverty.mean())

In [22]:
#using fillna(), filling the nan values of 'population_density' by the column mean and using groupby location
df['population_density'] = df.groupby(['location'])['population_density'].fillna(df.population.mean())

In [23]:
#using fillna(), filling the nan values of 'median_age' by the  column mean and using groupby location
df['median_age'] = df.groupby(['location'])['median_age'].fillna(df.median_age.mean())

In [24]:
#using fillna(), filling the nan values of 'aged_65_older' by the  column mean and using groupby location
df['aged_65_older'] = df.groupby(['location'])['aged_65_older'].fillna(df.aged_65_older.mean())

In [25]:
#using fillna(), filling the nan values of 'aged_70_older' by the  column mean and using groupby location
df['aged_70_older'] = df.groupby(['location'])['aged_70_older'].fillna(df.aged_65_older.mean())

In [26]:
#using fillna(), filling the nan values of 'gdp_per_capita' by the  column mean and using groupby location
df['gdp_per_capita'] = df.groupby(['location'])['gdp_per_capita'].fillna(df.gdp_per_capita.mean())

In [27]:
#using fillna(), filling the nan values of 'diabetes_prevalence' by the  column mean and using groupby location
df['diabetes_prevalence'] = df.groupby(['location'])['diabetes_prevalence'].fillna(df.diabetes_prevalence.mean())

In [28]:
#using fillna(), filling the nan values of 'cvd_death_rate' by the  column mean and using groupby location
df['cvd_death_rate'] = df.groupby(['location'])['cvd_death_rate'].fillna(df.cvd_death_rate.mean())

In [29]:
#using fillna(), filling the nan values of 'female_smokers' by the  column mean and using groupby location
df['female_smokers'] = df.groupby(['location'])['female_smokers'].fillna(0)

In [30]:
#using fillna(), filling the nan values of 'male_smokers' by the  column mean and using groupby location
df['male_smokers'] = df.groupby(['location'])['male_smokers'].fillna(0)

In [31]:
#using fillna(), filling the nan values of 'life_expectancy' by the  column mean and using groupby location
df['life_expectancy'] = df.groupby(['location'])['life_expectancy'].fillna(df.life_expectancy.mean())

In [32]:
df['hospital_beds_per_thousand'] = df.groupby(['location'])['hospital_beds_per_thousand'].fillna(0)

In [33]:
df['total_cases'] = df.groupby(['location'])['total_cases'].fillna(method = 'bfill')
df['total_cases'] = df.groupby(['location'])['total_cases'].fillna(0)

In [34]:
df['new_cases'] = df.groupby(['location'])['new_cases'].fillna(0)

In [35]:
df['total_deaths'] = df.groupby(['location'])['total_deaths'].fillna(method = 'bfill')
df['total_deaths'] = df.groupby(['location'])['total_deaths'].fillna(0)

In [36]:
df['new_deaths'] = df.groupby(['location'])['new_deaths'].fillna(0)

In [37]:
df['total_cases_per_million'] = df.groupby(['location'])['total_cases_per_million'].fillna(method = 'bfill')
df['total_cases_per_million'] = df.groupby(['location'])['total_cases_per_million'].fillna(0)

In [38]:
df['new_cases_per_million'] = df.groupby(['location'])['new_cases_per_million'].fillna(0)

In [39]:
df['total_deaths_per_million'] = df.groupby(['location'])['total_deaths_per_million'].fillna(method = 'bfill')
df['total_deaths_per_million'] = df.groupby(['location'])['total_deaths_per_million'].fillna(0)

In [40]:
df['handwashing_facilities'] = df.groupby(['location'])['handwashing_facilities'].fillna(method = 'bfill')
df['handwashing_facilities'] = df.groupby(['location'])['handwashing_facilities'].fillna(0)

In [41]:
df['new_deaths_per_million'] = df.groupby(['location'])['new_deaths_per_million'].fillna(0)

In [42]:
df['total_tests']=df['total_tests'].interpolate()

In [43]:
df['new_tests']=df['new_tests'].interpolate()

In [44]:
df['total_tests_per_thousand']=df['total_tests_per_thousand'].interpolate()

In [45]:
df['new_tests_per_thousand']=df['new_tests_per_thousand'].interpolate()

In [46]:
df['new_tests_smoothed']=df['new_tests_smoothed'].interpolate()

In [47]:
df['new_tests_smoothed_per_thousand']=df['new_tests_smoothed_per_thousand'].interpolate()

In [48]:
#df['tests_units'] = df.groupby(['location'])['tests_units'].fillna(df.tests_units.mean())
#df['tests_units'] = df.groupby(['location'])['tests_units'].fillna(method = 'ffill')
df['tests_units']=df['tests_units'].fillna(0)

In [49]:
df['tests_units'].unique()

array([0, 'tests performed', 'units unclear', 'samples tested',
       'people tested', 'units unclear (incl. non-PCR)'], dtype=object)

<font color = 'teal'> Look for duplicate rows </font>

In [50]:
df_duplicated = df[df.duplicated()]
df_duplicated

Empty DataFrame
Columns: [iso_code, continent, location, date, total_cases, new_cases, total_deaths, new_deaths, total_cases_per_million, new_cases_per_million, total_deaths_per_million, new_deaths_per_million, total_tests, new_tests, total_tests_per_thousand, new_tests_per_thousand, new_tests_smoothed, new_tests_smoothed_per_thousand, tests_units, stringency_index, population, population_density, median_age, aged_65_older, aged_70_older, gdp_per_capita, extreme_poverty, cvd_death_rate, diabetes_prevalence, female_smokers, male_smokers, handwashing_facilities, hospital_beds_per_thousand, life_expectancy]
Index: []

[0 rows x 34 columns]

In [ ]:
#From the above output we can ensure that there are no duplicate rows in the dataframe df

# Export the dataframe to a new csv file

<font color = 'teal'>Export the processed dataframe as a csv file into the data folder which we created in data organisation step.</font>

In [51]:
df.to_csv('C:/Users/user/Springboard/Course/CapStone - 1/data/covid_updated_file.csv',index=True)